*{
	font-family: 'verdana';
	font-size:12px;
	text-decoration:none;
	padding:0;
	margin:0;
}
body{
	background: url('../../image/site/sprite.png') repeat-x 0 -270px;
}

#nav{
	min-height: 600px;
	overflow: hidden;
}

.content, .contentCanal{
	width:1000px;
	margin:0 auto;
	min-height:500px;
	overflow: hidden;
}



/****HOME****/
#headerHome{
	width: 1000px;
	margin: 0 auto;
}

h1.logo{
	margin: 20px 0;
	width:112px;
	height:43px;
	text-indent:-1000px;
	overflow:hidden;
	background: url('../../image/site/sprite.png') no-repeat 0 -18px;
}

#menuBar, #menuBarCanal{
	height:50px;
	background: #000;
	overflow:hidden;	
}

#menu{
	padding:8px;
	overflow:hidden;
	color:#FFF;
	position:absolute;
	z-index: 1;
	width:990px;
}

#menu ul{
	list-style:none;
	padding-top:8px;
}

#menu ul li{
	float:left;
	padding: 0 4px;
}

#menu ul li a{
	text-align: center;
	text-decoration:none;
	color:#FFF;
	/*text-shadow: 1px -1px #e3e3e3;*/
}

#menu ul li a:hover{
	color: #07cbca;
}

#searchBoxHome, #searchBoxCanal{
	float:right;
	width:240px;
	height:21px;
	background: url('../../image/site/sprite.png') no-repeat ;
}

.searchBox{
	width:185px;
	border:none;
	background:transparent;
}

a.buscar{
	width:22px;
	height:20px;
	color:#FF0000;
	display:block;
	text-indent:-1000px;
	overflow: hidden;	
}

#loginBoxHome, #loginBoxCanal{
	width:110px;
	float:right;
	position:relative;
	color:#FFF;
	z-index: 1;
}

#loginBoxHome a, #loginBoxCanal a{
	color:#FFF;
}

#loginBoxHome a:hover, #loginBoxCanal a:hover{
	color: #07cbca;
}

#loginBox, #loginBoxCanal{
	float:right;
}

.carrossel{
	margin:5px 0;
	height:300px;
	background: #FFF;
	overflow:hidden;
	color:#FFF;
}

.chamadasHome{
	width:800px;
	float:left;
}

.h2{
	width:261px;
	height:200px;
	margin: 0 5px 5px 0;
	float:left;
}

.h2 .chamada{
	width:261px;
	height:60px;
	margin-top:140px;
	background:#000;
	color:#FFF;	
	overflow:hidden;
	position:absolute;
}

.h2 span{
	width:261px;
	height:60px;
	margin-top:140px;
	color:#FFF;	
	padding: 6px;
	overflow:hidden;
	position:absolute;
	z-index: 1;
}


.h3{
	width:195px;
	height:150px;
	margin: 0 5px 5px 0;
	float:left;
}

.h3 .chamada{
	width:195px;
	height:60px;
	margin-top:90px;
	background:#000;
	color:#FFF;	
	overflow:hidden;
	position:absolute;
}

.h3 span{
	width:195px;
	height:60px;
	margin-top:90px;
	color:#FFF;	
	padding: 6px;
	overflow:hidden;
	position:absolute;
	z-index: 1;
}

.bannerHome{
	width:196px;
	height:400px;
	border: 2px #CCC dashed;
	float:left;
}

.bannerHome2{
	width:790px;
	height:150px;
	border: 2px #CCC dashed;
		
}







/******CANAL******/
#menuCanal{
	background: #000000;
	color:#FFF;
	overflow: hidden;
}

#menuCanal div{
	width:1000px;
	margin: 0 auto;
	overflow: hidden;
	padding-bottom:8px;
}

#menuCanal ul{
	list-style:none;
	padding-top:8px;
}

#menuCanal ul li{
	float:left;
	padding: 0 4px;
}

#menuCanal ul li a{
	text-align: center;
	text-decoration:none;
	color:#FFF;
	/*text-shadow: 1px -1px #e3e3e3;*/
}

#menuCanal ul li a:hover{
	color: #07cbca;
}

#topCanal{
	overflow:hidden;
	color:#FFF;
	width:1000px;
	background: #FF0000;
	margin: 0 auto;
}

#barraCanal{
	padding:8px;
	overflow:hidden;
	color:#FFF;
	position:absolute;
	z-index: 1;
	width:990px;
}


#loginBoxCanal, #searchBoxCanal{
	margin-top:8px;
}

h1.logoCanal{
	width:112px;
	height:43px;
	text-indent:-1000px;
	overflow:hidden;
	background: url('../../image/site/sprite.png') no-repeat -116px -18px;
}

#menuBarCanal{
	width:100%;
	left:0;/*ie7*/
	position: absolute;
}

.canalHeader{
	width:1000px;
	margin:0 auto;
	margin-bottom:5px;
}

.canalHome{
	width:590px;
	float:left;
	border: 5px #FFF solid;
	top:-30px;
	background: #FFF;
	position:relative;
	z-index: 2000;
	overflow: hidden;
}

.contentCanal{
	overflow: visible;
}

.c1{
	width:585px;
	height:200px;
	margin: 0 3px 5px 2px;
	float:left;
}

.c1 .chamada{
	width:585px;
	height:60px;
	margin-top:140px;
	background:#000;
	color:#FFF;	
	overflow:hidden;
	position:absolute;
}

.c1 span{
	width:585px;
	height:60px;
	margin-top:140px;
	color:#FFF;	
	padding: 6px;
	overflow:hidden;
	position:absolute;
	z-index: 1;
}

.c2{
	width:290px;
	height:200px;
	margin: 0 3px 5px 2px;
	float:left;
}

.c2 .chamada{
	width:290px;
	height:60px;
	margin-top:140px;
	background:#000;
	color:#FFF;	
	overflow:hidden;
	position:absolute;
}

.c2 span{
	width:290px;
	height:60px;
	margin-top:140px;
	color:#FFF;	
	padding: 6px;
	overflow:hidden;
	position:absolute;
	z-index: 1;
}





/****GERAL***/
#footer{
	color:#FFF;
	min-height:200px;
	background:#000;
	margin-top:10px;
}

#footer .container{
	width:1000px;
	margin: 0 auto;
	padding-top:10px;
}

.rounded{
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	overflow:hidden;
}

.btrounded{
	-moz-border-radius: 0 8px;

	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;

	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	
	overflow:hidden;
}

.transparent{
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";

  /* IE 5-7 */
  filter: alpha(opacity=60);

  /* Netscape */
  -moz-opacity: 0.6;

  /* Safari 1.x */
  -khtml-opacity: 0.6;

  /* Good browsers */
  opacity: 0.6;
}


.box{
	background: #FFF;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	overflow:hidden;
	float: left;
	padding: 8px;
	color:#FFF;
	margin: 8px 8px 8px 0;
}

.box a{
	text-decoration:none;
	color:#FFF;
}

.black{
	background:#1F1F1F;
	color:#FFF;
}

.blue{
	background:#07d7d7;
}

.darkblue{
	background:#4ea0df;
}

.red{
	background:#ee2476;
}

.orange{
	background:#fed200;
}

.green{
	background:#a8da1f;
}

.darkgreen{
	background:#94b538;
}