textarea,
input[type="text"],
input[type="password"],
input[type="file"],
input[type="button"],
input[type="submit"],
input[type="reset"],
select
{
    -moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
    -khtml-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    -moz-box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
	border-color: #DFDFDF;
    outline: medium none;
	text-decoration: none;
	cursor: pointer;
	font-size:16px !important;
	padding:8px;
	font-family: "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
	color: #464646;
}
textarea.big,
input[type="text"].big,
input[type="password"].big,
input[type="file"].big,
input[type="button"].big,
input[type="submit"].big,
input[type="reset"].big,
{
	width: 500px;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="file"]:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
select:focus
{
	background-color:#FFFFCE;
}

input[type="button"],
input[type="submit"]
{
	margin-top: 10px;
	background: url("../../image/common/white-grad.png") repeat-x scroll left top ;
    text-shadow: 0 1px 0 #FFFFFF;
    padding:4px !important;
}
input[type="button"]:hover,
input[type="submit"]:hover
{
	border-color: #666;
	color: #000;
}

form label
{
	margin-bottom: 4px;
	font-size:16px !important;
	padding:4px;
	font-family: "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
	color: #464646;
}

label.error{ display: none !important;}
