*{
	font-family: 'verdana';
	font-size:12px;
	text-decoration:none;
	padding:0;
	margin:0;
}
body{
	background: url('../../image/site/sprite.png') repeat-x 0 -270px;
}

h1.logo{
	margin: 20px 0;
	width:112px;
	height:43px;
	text-indent:-1000px;
	overflow:hidden;
	background: url('../../image/site/sprite.png') no-repeat 0 -18px;
}

hr{
	padding:0;
	margin:0;
}

a.editar, a.excluir, a.download, a.active, a.preview, a.excluir_todos{ background: transparent url(../../image/admin/editar.png) no-repeat 0 0; width: 12px; height: 12px; float:left; text-indent: -5000px; margin:0 5px; }
a.excluir{ background: transparent url(../../image/admin/excluir.png) no-repeat 0 0; }
a.download{ background: transparent url(../../image/admin/download.png) no-repeat 0 0; }
a.active{ background: transparent url(../../image/admin/active.png) no-repeat 0 0; }
a.preview{ background: transparent url(../../image/admin/preview.png) no-repeat 0 0; width: 16px; height: 16px; }
a.excluir_todos{ background: transparent url(../../image/admin/excluir.png) no-repeat 0 0; padding-left: 17px; text-indent: 0; width: auto; color:#000; line-height: 12px; float:none; display:block; cursor: pointer;}
a.excluir_todos:hover{color:#666; font-weight: bold;}

.floatNone{ float: none !important; display: inline-block;}

.round{
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
}

#user_info{
	background:#30301f;
	color:#FFF;
	overflow:hidden;
	padding:10px;
	margin-bottom:5px;
        line-height: 25px;
}

#user_info img{
    margin-right:5px;
    border:1px solid #ddd;
}

#user_info a{
	float:right;
}

#user_info table tbody tr:nth-child(odd){
    background-color:transparent;
}

#menu{
	width:200px;
	float:left;
	background: #008fc7;
	padding:10px;
	color:#FFF;
	overflow:hidden;
	margin: 0 5px;
        border: 1px solid #02678f;
        box-shadow:#999 0 2px 2px;
}

#menu ul li{
	padding:5px;
}

#menu a, #user_info a{
	color:#FFF;
	text-decoration:none;
}

#menu a:hover, #user_info a:hover{
	text-decoration:underline;
}

.content{
	position:relative;
	width:1000px;
	float:left;
}

/*Content itens*/

.bar{
	overflow:hidden;
	padding:5px 5px 10px 0;
}

.header{
	padding:10px 0;
	display:block;
	font-weight:bold;
}

.bar_button{
	background:#7ec353;
	padding:5px;
	margin-right:5px;
	color:#FFF;
        box-shadow:#999 2px 2px 2px;
}

table{
	border-collapse:collapse;
}

table thead th{
	padding:5px;
	color:#008fc7;
	border-bottom:1px #CCC solid;
}

table thead th a{ color:#008fc7; }

table tbody td{
	padding:5px;
	border-bottom:1px #CCC solid;
        line-height:20px;
}

table tbody td.acao{
	width:100px;
}

table tbody td a{
    color:#666;
}

table tbody td img{
    margin-right:5px;
    border:1px solid #ddd;
}

table tbody td a:hover{
    text-decoration: underline;
}

table tbody tr:nth-child(odd){
    background-color: #fff;
}

table tbody tr:nth-child(even){
    background-color: #eee;
}

table tbody tr:hover {
    background-color: #ccc; color: #000;
}

table tbody td table{
    padding:15px;
    border:1px solid #ddd;
}

table tbody td table tbody tr:nth-child(odd){
    background-color: #fefefe;
}

table tbody td table tbody tr:nth-child(even){
    background-color: #f0f0ff;
}

table tbody td table tbody tr:hover {
    background-color: #e0e0eF; color: #000;
}

.list{
	width:1000px;
}

/*****Forms****/

.form dl, .form dt, .form dd{
	padding:5px 0;
}

.form dl{
	float:left;
}

.form input[type='text'], .form input[type='password'], .form input[type='submit'], .form textarea, .form select{
	border:1px #CCC solid;
	padding:5px;
        box-shadow:#ccc 1px 1px 3px;
}

.form input[type='submit']{
	margin-top: 10px;
}

.form input[type='text'].error, .form input[type='password'].error, .form select.error, .form textarea.error{
        color:#000;
        border:1px #fea2a2 solid;
        background-color: #ebebeb;
        display:inline;
}

.form input[type='checkbox']{
	margin-right:5px;
}

label
{
	margin-bottom: 8px;
	color:#008fc7;
}


.form p{ padding:2px 5px; display:inline-block; }

.error{
    color:#EE0000;
    margin-left: 5px;
    display:block;
}

.right{
	float:left;
	position:relative;
	margin-left:10px;
}

/***Task***/

.filelist li{
    padding:5px;
    border-bottom:1px #eee solid;
}

.filelist li a{
    color:#666;
    word-wrap: break-word;
    font-size: 12px;
}

.filelist li a:hover{
    text-decoration: underline;
}

.filelist li:nth-child(odd){
    background-color: #fff;
}

.filelist li:nth-child(even){
    background-color: #eee;
}

.filelist li:hover {
    background-color: #7ec353; color: #000;
}

.hist_task{
    background:#ddd;
    padding:10px;
    margin:5px;
    width: 400px;
    /*border: 1px solid #666;*/
    /*box-shadow:#999 2px 2px 2px;*/
}

.hist_task:hover{
    background:#e5e5e5;
}

.hist_task img{
    margin-right:5px;
    border:1px solid #999;
}

.anexos{
    background:#ddd;
    padding:5px;
    /*border: 1px solid #666;*/
    /*box-shadow:#999 2px 2px 2px;*/
}

.ui-datepicker{ background-color: #000; box-shadow:#999 0 5px 10px; color: #fff; }
.ui-datepicker table{ border:0; background-color:#fff; border:1px solid #bbb; }
.ui-datepicker table tr:nth-child(even), .ui-datepicker table tr:nth-child(odd), .ui-datepicker table tr:hover{ background: none; }
.ui-datepicker table tr td{ width: 12px; height: 15px; line-height: 15px; text-align: center; border-right: 1px solid #ddd; }
.ui-datepicker table tr th{ background-color: #fefefe; }
.ui-datepicker table tr td:hover{ background-color: #008fc7;}
.ui-datepicker table a{ color: #666; }
.ui-datepicker-header{ padding: 5px; height: 20px;}
.ui-datepicker-prev{ float:left; margin-right: 10px; cursor: pointer;}
.ui-datepicker-next{ float:right; cursor: pointer;}
.ui-datepicker-title{ float: left;}
.ui-datepicker .ui-datepicker-today{ background-color: #009f9f;}

#filelist div{ border:1px outset #eee; padding: 5px 10px; margin: 5px 0; display: block; border-radius:2px; box-shadow:#999 2px 2px 2px; word-wrap: break-word; width: 480px; }
#filelist div b{ color:#008fc7; }
#filelist div:nth-child(odd){ background-color: #fff; }
#filelist div:nth-child(even){ background-color: #eee; }
#filelist div:hover { background-color: #FFFAF0; }

.lightbox{ display: block; background-color:#ddd; border-radius:5px; box-shadow:#999 5px 5px 15px; padding:10px; position: relative; }
.lightbox #btFechar{ position: absolute; top:-20px; right:0; cursor: pointer;}
.lightbox video{ background-color:#000; }

.dhtml{ display: block; background-color:#fff; border: 1px solid #eee; border-radius:5px; box-shadow:#999 5px 5px 15px; padding:10px; position: relative; }
.dhtml input[type='text']{ border:1px #CCC solid; padding:5px; box-shadow:#ccc 1px 1px 3px; display: block; margin: 10px 0; width: 250px; }

.tags{ padding: 5px; }
.tags div{ 
	background:#dcf1fa; 
	padding:5px; 
	margin: 5px; 
	border:1px solid #008fc7; 
	border-radius: 5px; 
	color:#008fc7; 
	box-shadow:#ccc 1px 1px 3px; 
	display:inline-block; 
}
.tags div a{ 
	color:#008fc7; 
	font-weight: bold; 
}

.boxfilter{
    padding: 20px; 
    box-shadow:#999 5px 5px 15px;
    display:block;
    width:50%;
    margin:10px;
    border-radius:5px;
    background-color: #fff;
}

.boxfilter input[type='text'], .boxfilter select{
    border:1px #CCC solid;
    padding:5px;
    box-shadow:#ccc 1px 1px 3px;
    width:100%;
}
.boxfilter label{
    font-weight: bold;
    display: block;
    padding:5px 0;
}
.boxfilter p{
    padding:5px 0;
}

.pagination{
    padding:10px 0;
    color:#008fc7;
    text-align: center;
    font-size: 15px;
}
.pagination a{
    color:#008fc7;
    font-size: 15px;
}
.pagination strong{
    font-weight: bold;
    font-size: 15px;
}