@font-face {
	font-family: "MyriadPro";
	src: url("../../fonts/MyriadPro-Regular.otf");
}

@font-face {
    font-family: "MyriadProBold";
    src: url("../../fonts/MyriadPro-Bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: "MyriadProSemiBold";
    src: url("../../fonts/MyriadPro-Semibold.otf");
    font-weight: 200;
}

*{
	font-family: 'MyriadPro',sans-serif;
	font-size:13px;
	text-decoration:none;
	/*letter-spacing: .2px;*/
	padding:0;
	margin:0;
	outline: 0;
	text-rendering:optimizeLegibility;
}
/*
visitar
http://flatuicolors.com/
*/

body{
	overflow: hidden;
	color: #4F4F4F;
}

em, strong, b{
	font-family: 'MyriadProSemiBold',sans-serif;
	font-style: none !important;
	font-weight: none !important;
}

a{
	cursor: pointer;
	text-decoration: none;
	color: #fff;
}

hr { 
	display: block; 
	height: 1px;
    border: 0; 
    border-top: 1px solid #AFBCBF;
    margin: 0; 
    padding: 0; 
    font-style: bold;
}

label{
	margin-bottom: 8px;
	color:#25B6CC;
}
p{
	padding: 3px 0;
}

input{
	color: #4f4f4f !important;
}

#nav{
	overflow: hidden;
}

#lateral, #taskBar{
	width: 150px;
	position: absolute;
	height: auto;
	top:0;
	bottom: 0;
	background: #454A4F;
	z-index: 3;
}

#taskBar{
	background: #F3F4F5;
	text-align: center;
	width: 50px;
	right: 0;
	border-left: 1px solid #AFBCBF;
	border-right: none;
}

.task_bar_item{
	padding: 20px 10px;
}

.topo{
	min-height: 44px;
	z-index: 4;
	background: #DFE4E6;
}

.topo .filters{
	padding-top: 6px;
	padding-left: 5px;
}

.topo .form input[type='text']{
	border: none !important;
	padding: 8px 5px;
}

.filters{
	padding: 4px 0;
}

#esquerda{
    overflow:hidden;
    position: absolute;
    width: 300px;
    display: none;
    top:46px;
    bottom: 0;
    border-right: 1px solid #AFBCBF;
    padding: 0 5px;
}

#direita{
    overflow:hidden;
    position: absolute;
    display: none;
    bottom: 0;
    left: 320px;
    right: 0;
    padding: 5px 10px 5px 0;
}

#page{
    padding: 5px;
}

.wordwrap {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */ 
}

.loading{
	background: transparent url(../../image/admin/ajax-loader.gif) no-repeat center center !important;
	text-indent: -5000px;
	display: block;
	height: 40px;
}

.round{
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

.roundTop{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.roundBottom{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.user_info{
	width: 134px;
	height: 28px;
	color:#FFF;
	padding: 8px;
	background: #25B6CC;
	text-transform: uppercase;
}

.user_name{
	color: #fff !important;
}

.user_menu{
	color: #4f4f4f;
}

.user_menu span{
	line-height: 25px;
	text-transform: none;
}

.user_menu .icon{
	width: 23px !important;
	margin: 0 !important;
	display: inline-block;
	float: left;
}

.user_menu_item{
	padding: 0 5px !important;
}

.icon_logout{
	background: url('../../image/admin/icons.png') no-repeat -100px -26px;
}

.icon_edit {
    background: url('../../image/admin/icons.png') no-repeat -154px -54px;
}

/***rever**/
.line{
	line-height: 25px;
}

.foto_form{
	-o-border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -khtml-border-radius: 100px;
    border-radius: 100px;
	width:100px;
	height: 100px;
	left:10px;
	top:10px;
	position:absolute;
	border:3px #FFF solid;
	overflow: hidden;
	border-radius:100px;
	background: #fff;
}

.foto_form img{
	text-align: center;
	display: block;
	margin: 0 auto;
	height: 100px;
	position: relative;
}

#menu{	
	color:#FFF;
}

#menu ul li{
	margin: 2px 0;
}

#menu ul li a{
	padding:8px;
	display: block;
	color: #ccc;
}

#menu ul li a:hover, #menu a.selected{
	border: none !important;
	color: #fff;	
	background: #33373B;
}

#menu a.selected{
	background: #33373B url('../../image/admin/menu_selected.png') no-repeat 136px;
}

.submenu li{
	text-indent: 8px;
}

.content{
	position: absolute;
	overflow: hidden;
	left: 150px;
	right: 50px;
	top: 0;
	bottom: 0;
}

/*Content itens*/
.header{
	height: 44px;
	display:block;
	line-height: 43px;
	color: #fff;
	background: #25B6CC;
	padding: 0 5px;
}

.header .icon{
	margin-top: 8px;
}

.list_bar{
	padding: 8px 0;
}

.bar_button{
	border: 1px #69C3D1 solid;
	padding:5px;
	margin-right:5px;
	color:#4F4F4F !important;
	position: relative;
	cursor: pointer;
}

.bar_button label{
	color: #fff;
}

.bar_button:hover{
	color:#69C3D1 !important;
}

.tabs_panel{
	height: 44px;
	display: block;
	line-height: 44px;
}

.subtabs li, .tabs li{
	float: left;
	line-height: 44px;
}

.subtabs .selected, .tabs .selected{
	background: #fff;
	border: none !important;
}

.subtabs .selected a, .tabs .selected a{
	color: #404040;
}

.subtabs li a, .tabs li a{
	color: #404040;
	padding: 0 8px;
}

.subtabs li span, .tabs li span{
	border-right: 1px #ccc solid;
	padding: 10px 0;
	position: relative;
}

.subtabs li:last-child span, .tabs li:last-child span{
	border-right: none;
}

.subtabs li:hover, .tabs li:hover{
	background: #fff;
}

.content_hide{
	display: none;
}

.content_show{
	display: block;
}

.fixed{
	position: fixed;
}

.tl{
	text-align: left !important;
}

table {
    border-collapse:separate;
    border-radius:6px;
    -moz-border-radius:6px;
    margin: 4px 0;
    color: #4F4F4F;
}

th {
    vertical-align: top;
    background-color: #66b5d7;
    padding: 4px 0;
}

th span{
	border-right: solid #90AAAD 1px;
	padding: 0 4px;
	display: block;
}

td{
	text-align: center;
	padding: 4px;
}

th:last-of-type span{
   border-right: none;
}

table.gray th{
	background: #C0C0C0 !important;
	color: #fff;
}

table.gray td{
	color: #A0A0A0 !important;
}

.pickcolor{
	padding-left: 26px !important;
	height: auto !important;
	width: 60px !important;
}

.minicolors-swatch{
	border: none !important;
}

/*****Forms****/
.form dl, .form dt, .form dd{
	padding:5px 0;
}


.form input[type='text'], .form input[type='password'], input[type='submit'],input[type='button'], .form textarea, .form select{
	border:1px #CCC solid;
	padding:5px;
    box-shadow: none;
}

input[type='submit'], input[type='button']{
	border: none;
	box-shadow: none;
}

.form input[type='text'].error, .form input[type='password'].error, .form select.error, .form textarea.error{
    color:#000;
    border:1px #fea2a2 solid;
    background-color: #ebebeb;
    display:inline;
}

.form input[type='checkbox']{
	margin-right:5px;
}

.form p{ padding:2px 5px; display:inline-block; }

.error{
    color:#EE0000;
    margin-left: 5px;
    display:block;
}

.right{
	float:right;
	top: 0;
}

.left{
	float:left;
	margin-right:5px;
	position: relative;
}

.clear{
	clear: both;
}

/***Task***/

.filelist li{
    padding:5px;
    border-bottom:1px #eee solid;
}

.filelist li a{
    color:#666;
    word-wrap: break-word;
    font-size: 12px;
}

.filelist li a:hover{
    text-decoration: underline;
}

.filelist li:nth-child(odd){
    background-color: #fff;
}

.filelist li:nth-child(even){
    background-color: #eee;
}

.filelist li:hover {
    background-color: #7ec353; color: #000;
}

.hist{
    overflow: hidden;
    border: 1px #AFBCBF solid;
    border-top: none;
    color: #4F4F4F;
}

.task{
	position: relative;
	margin-left: 34px;
	padding: 5px;
	background: #fff;
}

.task_item{
	border-bottom: 1px #AFBCBF solid
}

.task_list .task_item:last-child{
	border-bottom: none;
}

.task a{
	color: #4F4F4F;
}

.task_topic{
	line-height: 25px;
	color: #333 !important;
	font-size: 14px;
}

.task_reply{
	margin-left: 34px;
	padding-top: 5px;
	overflow: auto;
}

.hist img, .hist_reply img{
    margin-right:5px;
}

.hide{
	display: none !important;
}

.ui-datepicker {
	z-index: 1000 !important;
}
/*
.ui-datepicker{ background-color: #000; box-shadow:#999 0 5px 10px; color: #fff; }
.ui-datepicker table{ border:0; background-color:#fff; border:1px solid #bbb; }
.ui-datepicker table tr:nth-child(even), .ui-datepicker table tr:nth-child(odd), .ui-datepicker table tr:hover{ background: none; }
.ui-datepicker table tr td{ width: 12px; height: 15px; line-height: 15px; text-align: center; border-right: 1px solid #ddd; }
.ui-datepicker table tr th{ background-color: #fefefe; }
.ui-datepicker table tr td:hover{ background-color: #008fc7;}
.ui-datepicker table a{ color: #666; }
.ui-datepicker .ui-state-highlight{
	background: #fed22f;
	background-image: none;
}
.ui-datepicker-header{ padding: 5px; height: 20px;}
.ui-datepicker-prev{ float:left; margin-right: 10px; cursor: pointer;}
.ui-datepicker-next{ float:right; cursor: pointer;}
.ui-datepicker-title{ float: left;}
.ui-datepicker .ui-datepicker-today{ background-color: #009f9f;}
*/

#sortable .ui-state-highlight, .sortable_workflow .ui-state-highlight, .sortable_tags .ui-state-highlight, .sortable_status .ui-state-highlight, .sortable_produtoras .ui-state-highlight{
	margin: 5px 0; 
	padding: 0; 
	min-height: 70px; 
	background: #f2fbff; 
	border: 1px dashed #b6bcbf;	
}

.ui-sortable-helper{
	-ms-transform: rotate(-3deg); /* IE 9 */
    -webkit-transform: rotate(-3deg); /* Chrome, Safari, Opera */
    transform: rotate(-3deg);
    z-index: 1000;
}

#workflow_task, .sortable_workflow .ui-state-highlight, .sortable_tags .ui-state-highlight, .sortable_status .ui-state-highlight, .sortable_produtoras .ui-state-highlight, .sortable_creditos .ui-state-highlight{
	min-height: 30px; 
}

.connect, .connect_suppliers, .connect_contacts{
	min-height: 30px;
	border: 1px dotted #ccc;
	padding: 0 5px;
}

input[type='submit'], input[type='button']{
	cursor: pointer;
	border: 1px #69C3D1 solid;
	padding:5px;
	margin-right:5px;
	color:#4F4F4F !important;
	position: relative;
	cursor: pointer;
	background: none !important;
}


input[type='text'], input[type='password']{
	border:1px #CCC solid;
	color:#666;
	padding:8px 5px;
  	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
  	outline: none; 
}

input[type='text']:hover, input[type='password']:hover{
	border:1px #00a4e4 solid;
}


input[type='text']:focus, input[type='password']:focus{
	border-color: #00a4e4;
  	-webkit-box-shadow: rgba(0, 164, 228, 0.1) 0px 0px 3px 3px, rgba(0, 0, 0, 0.2) 1px 2px 5px inset;
  	-moz-box-shadow: rgba(0, 164, 228, 0.1) 0px 0px 3px 3px, rgba(0, 0, 0, 0.2) 1px 2px 5px inset;
  	box-shadow: rgba(0, 164, 228, 0.1) 0px 0px 3px 3px, rgba(0, 0, 0, 0.2) 1px 2px 5px inset;
}


.step{
	margin-bottom: 10px;
}

.round_imgList{
	-o-border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -khtml-border-radius: 25px;
    border-radius: 25px;
    border: 2px solid #fff !important;
    background: #ccc;
    width: 25px;
    height: 25px;
    overflow: hidden;
    position: relative;
}

.round_imgList img{
	display: block;
	margin: 0 auto;
}

/*
.task_line .list_faixa{
	margin-top: 3px;
}
*/

.round_imgDetail{
	-o-border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -khtml-border-radius: 25px;
    border-radius: 25px;
    background: #008fc7;
    color: #fff;
    position: relative;
    float: left;
    min-width: 100px;
    margin-right: 3px;

}

.round_imgDetail span{
	line-height: 28px;
	padding: 5px;
	left: -2px;
	position: relative;
}

.icon_team{
	position: relative;
}


.round_imgList span{
	display: block;
	text-align: center;
	padding-top: 5px;
	font-weight: bold;
	color: #fff;
}

.border_white{
	border: 1px #fff solid;
}

.badge_line{
	font-size: 12px;
	padding: 2px 5px;
	margin-left: 8px;
	overflow: auto;
}

.badge{
	position: absolute;
	display: block;
	float: left;
	padding: 2px;
	font-size: 12px;
	left: 20px;
	top: -10px;

	-o-border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
    color: #fff;
}

.tag{
	color: #fff !important;
}

.ball{
	width: 20px;
	height: 20px;
	display: block;
	color: #fff;
	text-align: center;
	line-height: 22px;
	margin-right: 5px;


	-o-border-radius: 22px;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    -khtml-border-radius: 22px;
	border-radius:22px;
}

.hollidays .ui-state-default{
	color: #ccc !important;
}


/**colors (rever)**/
.red{
	background: #D94638;
	color: #fff;
}

.gray{
	background: #C0C0C0 !important;
	color: #fff;
}

.textGray{
	color: #888;
}

.orange{
	background: #e9573f;
}

.flat_orange{
	background: #f37934;
	
}

.blue2{
	background: #6fc1d2;
	color: #fff;
}

.light_green{
	background: #37bc9b;
}

.blue{
	background: #008fc7 !important;
	color: #fff !important;
}

.light_blue{
	background: #66b5d7;	
	color: #fff;
}

.cyan{
	background: #25B6CC; /*#49c5bf;*/
	color:#fff;
}

.text_cyan{
	color: #28A5B8 !important;
}


.green{
	background: #8cc152 !important;
	color: #fff;
	border: none !important;
}


.round_imgListwhite{
	border: 2px solid #fff !important;
}

.round_imgListblue{
	border: 2px solid #008fc7 !important;
}

.round_imgListgreen{
	border: 2px solid #8cc152 !important;
}

.round_imgListflat_orange{
	border: 2px solid #f37934 !important;
}

.round_imgListyellow{
	border: 2px solid #f6bb42 !important;
}

a.green{
	color: #fff;
}

/*
.text_blue{
	background: none;
	color: #008fc7;
}

.text_gray{
	color: #C0C0C0 !important;
}
*/

.stepList{
	display: inline-table;
	width: 70px;
	padding: 5px;
	min-height: 30px;
	text-align: center;
	background: #ccc;
	margin-right: 4px;
}

.list{
	width:100%;
}

.title_list{
	color:#666;
	font-size: 10px;
}

.sortable{
	margin-top: 10px;
}

.sortable li{
	padding:5px;
	padding-left: 10px;
}

.collapse_holder{
	width: 25px;
	height: 25px;
	margin-right: 10px;
}

/*
.crono td{
	height: 60px !important;
	margin:0;
	padding: 0;
	white-space: nowrap;
}

.crono_fixed{
	width: 230px;
	height: auto;
	background: #f1f1f1;
	
}

.crono_item{
	height: 61px;
	display: block;
}
*/

.list_faixa, .list_faixa_workflow{
	margin: 0 2px 2px 0;
	padding: 4px 5px;
	display: inline-block;
	color: #fff;
	border: none !important;
}

.list_faixa_workflow{
	display: block !important;
}
/*
.suggestions{
	border-left:1px dotted #008fc7;
	margin-left: 10px;
}
*/

.list_view{
	padding: 4px 5px;
	display: block;
	color: #666;
	line-height: 20px;

}
/*
.suggestions > .list_view_sub{
	margin: 0 0 0 10px;
	padding: 4px 5px;
	display: block;
	color: #666;
	line-height: 20px;
	position: relative;
}
*/

.list_alert{
	display: block;
	margin: 5px 0;
	padding: 5px;
	color: #28A5B8;
	border-bottom: 1px #28A5B8 solid;
}

.list_item li, .dd-item{
	background: #fff; 
	color: #4F4F4F !important;
	overflow: auto;
	width: auto !important;
	line-height: normal !important;
}

.dd-item{
	min-width: 100px;
	overflow: hidden;
}

.icon, .icon_filtros{
	width: 26px;
	height: 23px;
	overflow: hidden;
	text-indent: -2000px;
	display: inline-block;
	margin-left: 5px;
}

.icon_filtros{
	width: 13px;
	height: 17px;
	float: right;
}

/**icones**/

.icon_filter{
	background: url('../../image/admin/icons.png') no-repeat -175px -30px;
}

.icon_filter_active{
	background: url('../../image/admin/icons.png') no-repeat -175px -4px;
}

.icon_status{
	background: url('../../image/admin/icons.png') no-repeat -203px -53px;
}

.icon_status_white{
	background: url('../../image/admin/icons.png') no-repeat -254px -53px;
}


.icon_task{
	background: url('../../image/admin/icons.png') no-repeat -176px -53px;
}

.icon_task_white{
	background: url('../../image/admin/icons.png') no-repeat -228px -53px;
}

.icon_info{
	background: url('../../image/admin/icons.png') no-repeat -72px -27px;
}

.icon_excluir{
	background: url('../../image/admin/icons.png') no-repeat -151px 0;
}

.icon_excluir_white{
	background: url('../../image/admin/icons.png') no-repeat -151px -26px;
}


.icon_comment {
    background: url('../../image/admin/icons.png') no-repeat -2px -83px;
}

.icon_collapse{
	background: url('../../image/admin/icons.png') no-repeat -188px  7px;
}

.icon_expand{
	background: url('../../image/admin/icons.png') no-repeat -233px 7px;
}


.icon_collapse_white{
	background: url('../../image/admin/icons.png') no-repeat -215px 0;
}

.icon_expand_white{
	background: url('../../image/admin/icons.png') no-repeat -259px 0;
}

.icon_comment_white{
	background: url('../../image/admin/icons.png') no-repeat -124px -26px;
}

.icon_aberto{
	background: url('../../image/admin/icons.png') no-repeat 2px -26px;
}

.icon_iniciada{
	background: url('../../image/admin/icons.png') no-repeat -46px -26px;
}

.icon_entregue{
	background: url('../../image/admin/icons.png') no-repeat -22px -26px;
}

/**pagination**/
.pagination{
	line-height: 30px;
}

.pagination select{
	border:1px #CCC solid;
	padding:2px 5px;
	top: -4px;
	position: relative;
}

.pagination .icon{
	margin:0;
}

.icon_inicio {
	background: url('../../image/admin/icons.png') no-repeat -257px -23px;
}

.icon_anterior {
	background: url('../../image/admin/icons.png') no-repeat -236px -23px;
}

.icon_prox {
	background: url('../../image/admin/icons.png') no-repeat -189px -23px;
}

.icon_ultimo {
	background: url('../../image/admin/icons.png') no-repeat -215px -23px;
}


.list_icon{
	width: 23px;
	height: 23px;
	position: absolute;
	bottom: 7px;
	margin-left: 4px;
}

.list_aberto{
	background: url('../../image/admin/icons.png') no-repeat -72px 0;
}

.list_iniciada{
	background: url('../../image/admin/icons.png') no-repeat -97px 0;
}


.list_status{
	position: relative;
	bottom: 0;
	right: 0;
	width: 30px;
	height: 50px;
}


.item_content{
	padding: 5px 10px;
	min-height: 25px;
	overflow: auto;
	color: #4f4f4f !important;
}

.item_content a{
	color: #4f4f4f !important;
	display: block;
}

.list_colum{
	float: left;
}

.list_item li{ 
	border-bottom: 1px #AFBCBF solid;
}

.blueSelection{
	background: #25B6CC !important;
}

.blueSelection .item_content a{
	color: #fff !important;
}

.blueSelection .icon_excluir{
	background: url('../../image/admin/icons.png') no-repeat -151px -26px;
}
/*
.blueSelection a p, .blueSelection .item_content a p, .blueSelection .item_content a p b{
	color: #fff !important;
}
*/

.blueSelection .list_iniciada, .list_iniciada_white{
	background: url('../../image/admin/icons.png') no-repeat -48px 0;
}

.blueSelection .list_aberto, .list_aberto_white{
	background: url('../../image/admin/icons.png') no-repeat 0 0;
}

/*
.load{
	overflow: auto;
}


.list_item a{
	color: #000;
	display: block;
}
*/


.oed_info{
	padding: 8px 0;
	overflow: auto;
}

.observacoes_gdocs{
	max-width: 345px;
	height: 110px;
	padding-left: 5px;
	margin-right: 0;
	text-align: top;
	overflow-y: auto;
	overflow-x: none;
}

.list_order{
	text-align: center;
	font-weight: bold;

    -o-border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -khtml-border-radius: 25px;
    border-radius: 25px;
    background: #008fc7;
    color: #fff;
    width: 25px;
}

.ui-widget-header{
	border: none !important;
}

.data, .weekend{
	width: 30px !important;
	height: 30px !important;
	position: relative;
	line-height: 30px;
	text-align: center;
}

.date{
	width: 80px;
}

.weekend{
	background: #ddd;
}

.evento{
	left: 0px;
	position: absolute;
	background: red;
	height: 30px;
	z-index: 2;
	color: #fff;
}

.select_holder{
	width: 500px;
}

.select_holder li{
	padding: 5px 0;
	border-bottom: 1px #ccc solid;	
}

.filter{
	float: left;
	color:#4F4F4F;
	display: block;
	cursor: pointer;
	position: relative;
}

.filter label{
	color: #4F4F4F;
}

/*https://css-tricks.com/snippets/css/css-triangle/*/

.filter_panel{
	background: #fff ;
	border: 1px #AFBCBF solid;
	position: absolute;
	display: none;
	left: 0;
	margin-top: 12px;
	padding: 5px;
	
	width: auto !important;
	min-width: 100px;
	z-index: 2;
	box-shadow:#353535 0 2px 10px;
	overflow: auto;
}

.filter_panel_arrow{
	display: none;
	position: absolute;
	left: 0;
	border-style: solid;
	border-width: 0 8px 12px;
	border-color: #AFBCBF transparent;
	width: 0;
	z-index: 3;
}

.filter_panel_arrow:after {
    content: "";
    position: absolute;
    top: 2px;
    left: -8px;
    border-style: solid;
    border-width: 0 8px 12px;
    border-color: #fff transparent;
    display: block;
    width: 0;
    z-index: 0;
}

.filter .scrollable_content{
	height: auto;
	max-height: 330px;

	width: auto !important;
	min-width: 180px;
	margin: 5px 0;
}

.filter ul li{
	padding: 5px;
}

.filter ul li > ul li{	
	display: block;
	float: none;
	margin: 0;

	-o-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

.filter ul li > ul li label{	
	cursor: pointer;
}

.status{
	position: relative;
	float: right;
}

.label_name{
	padding: 4px;
	color: #fff;
	background: #048b11;
}

/*
.task_open{
	background:#ff0000;
	padding:5px;
	color:#FFF;
	text-align: center;
}

.task_started{
	background:#fff799;
	padding:5px;
	color:#000;
	text-align: center;
}

.task_finished{
	background:#bbd152;
	padding:5px;
	color:#000;
	text-align: center;
}


.object_stoped{
	background:#fff;
	color:#000;
}


.object_qa,.object_consolidate{
	background:#ff9743;
	color:#000;
}

.object_waiting{
	background:#fff;
	color:#000;
}


.object_finished{
	background: green;
	color:#fff;
}

.object_late, .object_late a{
	background:#ff4747;
	color:#fff;
}
*/

.task_description{
	padding-left: 34px;
}

.task_description p {
	width: 600px;
	color: #808080 !important;
}

.description{
	border-bottom: 1px solid #AFBCBF;
	padding-left: 34px !important;
	color:#808080 !important;
}

.description p {
	width: 660px;
}

.anotacoes{
	background: #f4f4f4;
	border-bottom: 1px solid #AFBCBF;
	padding: 5px 4px 5px 34px;
	overflow: auto;
	color:#808080 !important;
}

.anotacoes a{
	color:#808080 !important;
}

.anotacoes p{
	width: 600px;
}

/*
.down_button{
	text-align: center;
	display: block;
}

.down_button img{
	border:none;
}
*/

.table_info{
	color: #008fc7;
	background: #f3f3f3;
	border-bottom: 1px dotted #eee;
	padding: 4px;
	overflow: auto;
	line-height: 25px;
}

.ui-widget-overlay{
	background: #333;
}

#charts{
	display: block;
	width: 702px;
	overflow: auto;
}

.noTitleStuff .ui-dialog-titlebar {
	display:none;
}
.ui-corner-all{
    border-radius: 2px;
}

.acervo_header span{
	line-height: 30px;
}

.acervo_item{
	width: 330px;
	overflow: auto;
	border: 1px solid #AFBCBF;
	float: left;
	margin: 0 5px 5px 0;
}

.acervo_item .ball{
	padding: 5px;
	text-transform: uppercase;
}

.acervo_item_top{
	color: #4F4F4F !important;
	padding: 8px;
	height: 70px;
	overflow: hidden;
}

.acervo_item_bottom{
	border-top: 1px solid #AFBCBF;
	padding: 4px;
	background: #F3F4F5;
	overflow: auto;
}

.acervo_infos_header{
	padding: 10px;
}

.acervo_infos_content{
	padding: 10px;
	border: 1px #AFBCBF solid;
	border-top: none;
	color: #4F4F4F;
	overflow: auto;
}

.acervo_infos_content table{
	width: 100%;
}

.acervo_infos_content table th{
	background: #E6E6E6;
	text-align: center;
}

.acervo_infos_selected{
	background: #25B6CC;
	color: #fff;
}

.acervo_infos_item{
	margin-bottom: 5px;
}

.acervo_repositorios span{
	padding: 0 4px;
	display: inline-block;
	text-align: center;
	border-right: 1px solid #90AAAD;
}

.acervo_repositorios span:last-of-type{
	border-right: none;
}


.item_type{
	padding: 5px;
}

div .selected{
	border: 1px solid #008fc7 !important;
}

.acervo_item a{
	color: #000 !important;
}

.acervo_preview, .iframe_body{
	width: 800px;
	padding-top: 5px;
}

.iframe_body{
	height: 600px;
	padding-bottom: 10px;
}

.ui-dialog{
	min-height: 20px !important;
}

.ui-widget-content{
	border: none !important;
}

.ui-widget-overlay{
	background: #333;
	opacity: .4;
}


div.jGrowl div.normal {
    color:#FFF;
    background: #000;
    border-left: 8px solid #008fc7;
}

div.jGrowl div.error {
    color:#FFF;
    background: #000;
    border-left: 8px solid #ff0000;
}

.form_panel{
	position: absolute;
	top: 0;
	bottom: 0;
	min-width: 400px;
	height: auto;
	background: #fff;
	z-index: 10;
	display: none;
	box-shadow:#333 1px 5px 15px;
}

.panel_content{
	padding: 5px;
}

.panel_append{
	background: #F3F4F5;
}

.table_anchor{
	cursor: pointer;
}


/*----------------------------
    The file upload form
-----------------------------*/

#drop{
    border-radius: 3px;
    color:#7f858a;
    padding: 10px;
}

#drop a{
    cursor:pointer;
    display:inline-block;
}

#drop a:hover{
    background-color:#0986a3;
}

#drop input{
    display:none;
}

#upload ul{
    list-style:none;
    margin:0 -30px;
    border-top:1px solid #2b2e31;
    border-bottom:1px solid #3d4043;
}

#upload ul li{

    background-color:#333639;

    background-image:-webkit-linear-gradient(top, #333639, #303335);
    background-image:-moz-linear-gradient(top, #333639, #303335);
    background-image:linear-gradient(top, #333639, #303335);

    border-top:1px solid #3d4043;
    border-bottom:1px solid #2b2e31;
    padding:15px;
    height: 52px;

    position: relative;
}

#upload ul li input{
    display: none;
}

#upload ul li p{
    width: 144px;
    overflow: hidden;
    white-space: nowrap;
    color: #EEE;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 100px;
}

#upload ul li i{
    font-weight: normal;
    font-style:normal;
    color:#7f7f7f;
    display:block;
}

#upload ul li canvas{
    top: 15px;
    left: 32px;
    position: absolute;
}

#upload ul li span{
    width: 15px;
    height: 12px;
    background: url('../img/icons.png') no-repeat;
    position: absolute;
    top: 34px;
    right: 33px;
    cursor:pointer;
}

#upload ul li.working span{
    height: 16px;
    background-position: 0 -12px;
}

#upload ul li.error p{
    color:red;
}

.scrollable_content{
	overflow: auto;
	position: relative;
}



/*-------------------------
	Gmail style scrollbar 
---------------------------*/
::-webkit-scrollbar {
    width: 12px
}
::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 2px
}
::-webkit-scrollbar-track {
    border-width: 0
}
::-webkit-scrollbar {
    height: 16px;
    overflow: visible;
    width: 16px;
}
::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}
::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 4px;
}
::-webkit-scrollbar-track:horizontal {
    border-width: 4px 0 0
}
::-webkit-scrollbar-track:hover {
    background-color: rgba(0,0,0,.05);
    box-shadow: inset 1px 0 0 rgba(0,0,0,.1);
}
::-webkit-scrollbar-track:horizontal:hover {
    box-shadow: inset 0 1px 0 rgba(0,0,0,.1)
}
::-webkit-scrollbar-track:active {
    background-color: rgba(0,0,0,.05);
    box-shadow: inset 1px 0 0 rgba(0,0,0,.14),inset -1px 0 0 rgba(0,0,0,.07);
}
::-webkit-scrollbar-track:horizontal:active {
    box-shadow: inset 0 1px 0 rgba(0,0,0,.14),inset 0 -1px 0 rgba(0,0,0,.07)
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px 1px 1px 6px;
    min-height: 28px;
    padding: 100px 0 0;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
}
::-webkit-scrollbar-thumb:horizontal {
    border-width: 6px 1px 1px;
    padding: 0 0 0 100px;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset -1px 0 0 rgba(0,0,0,.07);
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,.4);
    box-shadow: inset 1px 1px 1px rgba(0,0,0,.25);
}
::-webkit-scrollbar-thumb:active {
    background-color: rgba(0,0,0,0.5);
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.35);
}
::-webkit-scrollbar-track {
    border-width: 0 1px 0 6px
}
::-webkit-scrollbar-track:horizontal {
    border-width: 6px 0 1px
}
::-webkit-scrollbar-track:hover {
    background-color: rgba(0,0,0,.035);
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.14),inset -1px -1px 0 rgba(0,0,0,.07);
}
::-webkit-scrollbar-thumb {
    border-width: 0 1px 0 6px
}
::-webkit-scrollbar-thumb:horizontal {
    border-width: 6px 0 1px
}
::-webkit-scrollbar-corner {
    background: transparent
}
body::-webkit-scrollbar-track-piece {
    background-clip: padding-box;
    background-color: #f5f5f5;
    border: solid #fff;
    border-width: 0 0 0 3px;
    box-shadow: inset 1px 0 0 rgba(0,0,0,.14),inset -1px 0 0 rgba(0,0,0,.07);
}
body::-webkit-scrollbar-track-piece:horizontal {
    border-width: 3px 0 0;
    box-shadow: inset 0 1px 0 rgba(0,0,0,.14),inset 0 -1px 0 rgba(0,0,0,.07);
}
body::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 5px
}
body::-webkit-scrollbar-thumb:horizontal {
    border-width: 5px 1px 1px
}
body::-webkit-scrollbar-corner {
    background-clip: padding-box;
    background-color: #f5f5f5;
    border: solid #fff;
    border-width: 3px 0 0 3px;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.14);
}