*{
	font-family: 'Open Sans',sans-serif;
	font-size:13px;
	text-decoration:none;
	padding:0;
	margin:0;
	outline: 0;
	text-rendering:optimizeLegibility;
}
body{
	background: url('../../image/admin/bkg.jpg') repeat-x 0 70px fixed;
	/*background: #f1f2f7;*/
	/*color: #767676;*/
}

h1.logo{
	margin: 20px 0;
	width:112px;
	height:43px;
	text-indent:-1000px;
	overflow:hidden;
	background: url('../../image/site/sprite.png') no-repeat 0 -18px;
}

.wordwrap {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */ 
}

hr { 
	display: block; 
	height: 1px;
    border: 0; 
    border-top: 1px dotted #008fc7;
    margin: 0; 
    padding: 0; 
    font-style: bold;
}

a.editar, a.excluir, a.download, a.active, a.preview, a.excluir_todos{ background: transparent url(../../image/admin/editar.png) no-repeat 0 0; width: 12px; height: 20px; text-indent: -5000px; margin:0 5px; display: block;}
a.excluir{ background: transparent url(../../image/admin/excluir.png) no-repeat 0 0; width: 20px; height: 20px; }
a.download{ background: transparent url(../../image/admin/download.png) no-repeat 0 0; }
a.active{ background: transparent url(../../image/admin/active.png) no-repeat 0 0; }
a.preview{ background: transparent url(../../image/admin/preview.png) no-repeat 0 0; width: 16px; height: 16px; }
a.excluir_todos{ background: transparent url(../../image/admin/excluir.png) no-repeat 0 0; padding-left: 20px; text-indent: 0; color:#000; line-height: 20px; float:none; cursor: pointer; width: 200px;}
a.excluir_todos:hover{color:#666;}
a.link{ background: transparent url(../../image/admin/download.png) no-repeat 0 0; padding-left: 30px; text-indent: 0; width: auto; color:#000; line-height: 20px; float:none; cursor: pointer;}
a.link:hover{color:#666; text-decoration: underline;}


.tab-loading{
	 background: transparent url(../../image/admin/ajax-loader.gif) no-repeat center center;
	 text-indent: -5000px;
	 display: block;
	 height: 40px;
}

.logout{
	color:#FFF; 
	background: transparent url(../../image/admin/logout.png) no-repeat 0 0; 
	position: absolute;
	text-indent: -300px;
	width: 20px;
	height: 20px;
	overflow: hidden;
	right: 5px;
	top: 5px;
}

.floatNone{ float: none !important; display: inline-block;}

.line_bottom{
	display:block;
	border-bottom:1px #CCC dotted;
	padding-bottom: 5px;
}

.line_up{
	display:block;
	border-top:1px #CCC dotted;
	padding-top: 10px;
}

.round{
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

.roundtip{
	-o-border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
	border-radius:20px;
	font-size: 10px;
}

.roundTop{anexos
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.roundBottom{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#user_info{
	background:#008fc7;
	/*background: transparent url(../../image/admin/bg_menu.jpg);*/
	color:#FFF;
	overflow:hidden;
    line-height: 25px;
    padding-left:100px;
}

#user_info table tbody tr:nth-child(odd){
    background-color:transparent;
}

#user_info .foto{
	-o-border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -khtml-border-radius: 100px;
    border-radius: 100px;
	position:absolute;
	width:100px;
	height: 100px;
	border:3px #FFF solid;
	box-shadow: 0 0 10px 1px rgba(0,0,0, .8);
	top:0px;
	left:0px;
	background: #fff;
}

.foto_form{
	-o-border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -khtml-border-radius: 100px;
    border-radius: 100px;
	width:100px;
	height: 100px;
	position:relative;
	border:3px #FFF solid;
	border-radius:100px;
	box-shadow: 0 0 10px 1px rgba(0,0,0, .8);	
	background: #fff;
}

#head{
	position: fixed;
	width: 100%;
	top:0;
	left:0;
	z-index: 10001;
}

#menu{
	/*background: -webkit-linear-gradient(top, #008fc7, #06608d, #06608d);*/
	background: #28282e;
	padding:10px;
	padding-left:110px;
	color:#FFF;
	height: 25px;
	z-index: 11000;
    /*box-shadow:0 2px 6px 2px rgba(0,0,0, .4);*/
}

#menu ul li{
	padding:5px 10px;
	float:left;
	border-right: 1px solid #008fc7;
	/*box-shadow:1px 0 0 rgba(255, 255, 255, .3);*/
	position: relative;
}

#menu ul li:hover ul{
	display: block;
	margin-top: 5px;

}

#menu ul li > ul{
	position: absolute;
	background: #008fc7; /*#28282e;*/
	width: 150px;
	top: 19px;
	left: -.6px;
	display: none;
	padding: 5px;

	-o-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;

   	-moz-box-shadow: 2px 8px 8px #333;
	-webkit-box-shadow: 5px 8px 8px #333;
	box-shadow: 5px 8px 8px #333;
}

#menu ul li > ul li{
	display: block;
	float: none;
	border-right: none;

	-o-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

#menu ul li:hover{
	background: #008fc7;
}

#menu ul li > ul li:hover{
	background: #0aa699;
}

#menu ul li a{
	display: block;
}


#menu ul li:last-child{
	box-shadow:none;
}






a{
	color:#FFF;
	text-decoration:none;
}

.black{
	color: #000;
}

.edit{
	background: url('../../image/admin/edit.png') no-repeat;	
	padding-left: 20px;
	cursor: pointer;
}


.content{
	margin-top: 100px;
	margin-right: 10px;
	padding-left:110px;

}

/*Content itens*/

.bar{
	overflow:hidden;
	padding:5px 5px 10px 0;
}

.header{
	padding:10px 0;
	display:block;
	font-weight:bold;
}


.bar_button{
	background:#008fc7;
	padding:5px;
	margin-right:5px;
	color:#FFF;
	position: relative;
	cursor: pointer;
	/*box-shadow:#999 2px 2px 2px;*/
}

table{
	border-collapse:collapse;
}

table thead th{
	padding:5px;
	color:#008fc7;
	border-bottom:1px #CCC solid;
}

table thead th a{ color:#008fc7; }

table tbody td{
	padding:5px;
	border-bottom:1px #CCC solid;
        line-height:20px;
}

table tbody td.acao{
	width:100px;
}

table tbody td a{
    color:#666;
}

table tbody td img{
    margin-right:5px;
    border:1px solid #ddd;
}

table tbody td a:hover{
    text-decoration: underline;
}

table tbody tr:nth-child(odd){
    background-color: #fff;
}

table tbody tr:nth-child(even){
    background-color: #eee;
}

table tbody tr:hover {
    background-color: #ccc; color: #000;
}

table tbody td table{
    padding:15px;
    border:1px solid #ddd;
}

table tbody td table tbody tr:nth-child(odd){
    background-color: #fefefe;
}

table tbody td table tbody tr:nth-child(even){
    background-color: #f0f0ff;
}

table tbody td table tbody tr:hover {
    background-color: #e0e0eF; color: #000;
}



/*****Forms****/

.form dl, .form dt, .form dd{
	padding:5px 0;
}


.form input[type='text'], .form input[type='password'], input[type='submit'],input[type='button'], .form textarea, .form select{
	border:1px #CCC solid;
	padding:5px;
    box-shadow:#ccc 1px 1px 3px;
}

input[type='submit'], input[type='button']{
	box-shadow: none;
}

.form input[type='text'].error, .form input[type='password'].error, .form select.error, .form textarea.error{
        color:#000;
        border:1px #fea2a2 solid;
        background-color: #ebebeb;
        display:inline;
}

.form input[type='checkbox']{
	margin-right:5px;
}

label
{
	margin-bottom: 8px;
	color:#008fc7;
}


.form p{ padding:2px 5px; display:inline-block; }

.error{
    color:#EE0000;
    margin-left: 5px;
    display:block;
}

.right{
	float:right;
	margin-left:5px;
}

.left{
	float:left;
	margin-right:10px;
}

.clear{
	clear: both;
}

/***Task***/

.filelist li{
    padding:5px;
    border-bottom:1px #eee solid;
}

.filelist li a{
    color:#666;
    word-wrap: break-word;
    font-size: 12px;
}

.filelist li a:hover{
    text-decoration: underline;
}

.filelist li:nth-child(odd){
    background-color: #fff;
}

.filelist li:nth-child(even){
    background-color: #eee;
}

.filelist li:hover {
    background-color: #7ec353; color: #000;
}

.hist{
    padding:10px;
    margin:5px;
    width: 600px;
    background: #fff;

}

.task{
	border: 1px solid #CCC;
	margin: 10px 0 5px 0;

	-moz-box-shadow: 2px 2px 8px #ccc;
	-webkit-box-shadow: 2px 2px 8px #ccc;
	box-shadow: 2px 2px 8px #ccc;
}

.anotacoes{
	background: #a0d0d4;
	margin: 10px 0;

	-moz-box-shadow: 2px 2px 8px #ccc;
	-webkit-box-shadow: 2px 2px 8px #ccc;
	box-shadow: 2px 2px 8px #ccc;
}


.hist img, .hist_reply img{
    margin-right:5px;
    border:1px solid #999;
}

.hist_reply{
	width:600px;
    padding:10px;
    margin-top: -5px;
    margin-bottom: 5px;
    color: #585858;
    /*border-bottom: 1px dotted #ccc;*/
    background: #f3f3f3;

    -moz-box-shadow: 2px 2px 5px #ccc;
	-webkit-box-shadow: 2px 0 5px #ccc;
	box-shadow: 2px 2px 5px #ccc;
}



.hide{
	display: none;
}

.anexos{
    background:#ddd;
    padding:5px;
    /*border: 1px solid #666;*/
    /*box-shadow:#999 2px 2px 2px;*/
}

.box{
	padding: 10px;
	margin-top: 5px;
	background: #eee;
}

.boxwired{
	border: 1px solid #ccc;
	padding: 10px;
	margin-top: 5px;
	background: #fff;
}


.ui-datepicker{ background-color: #000; box-shadow:#999 0 5px 10px; color: #fff; }
.ui-datepicker table{ border:0; background-color:#fff; border:1px solid #bbb; }
.ui-datepicker table tr:nth-child(even), .ui-datepicker table tr:nth-child(odd), .ui-datepicker table tr:hover{ background: none; }
.ui-datepicker table tr td{ width: 12px; height: 15px; line-height: 15px; text-align: center; border-right: 1px solid #ddd; }
.ui-datepicker table tr th{ background-color: #fefefe; }
.ui-datepicker table tr td:hover{ background-color: #008fc7;}
.ui-datepicker table a{ color: #666; }
.ui-datepicker .ui-state-highlight{
	background: #fed22f;
	background-image: none;
}
.ui-datepicker-header{ padding: 5px; height: 20px;}
.ui-datepicker-prev{ float:left; margin-right: 10px; cursor: pointer;}
.ui-datepicker-next{ float:right; cursor: pointer;}
.ui-datepicker-title{ float: left;}
.ui-datepicker .ui-datepicker-today{ background-color: #009f9f;}

#sortable .ui-state-highlight{
	margin: 5px 0; 
	padding: 0; 
	min-height: 70px; 
	background: #f2fbff; 
	border: 1px dashed #b6bcbf;
}


.filters{
	height: 30px;
	padding-top: 5px;
	position: relative;
}

#filelist div{ 
	border:1px outset #eee; 
	padding: 5px 10px; 
	margin: 5px 0; 
	display: block; 
	border-radius:2px; 
	box-shadow:#999 2px 2px 2px; 
	word-wrap: break-word; 
	width: 480px; 
}
#filelist div b{ color:#008fc7; }
#filelist div:nth-child(odd){ background-color: #fff; }
#filelist div:nth-child(even){ background-color: #eee; }
#filelist div:hover { background-color: #FFFAF0; }

.lightbox{ display: block; background-color:#ddd; border-radius:5px; box-shadow:#999 5px 5px 15px; padding:10px; position: relative; }
.lightbox #btFechar{ position: absolute; top:-20px; right:0; cursor: pointer;}
.lightbox video{ background-color:#000; }

.dhtml{ display: block; background-color:#fff; border: 1px solid #eee; border-radius:5px; box-shadow:#999 5px 5px 15px; padding:10px; position: relative; }
.dhtml input[type='text']{ border:1px #CCC solid; padding:5px; box-shadow:#ccc 1px 1px 3px; display: block; margin: 10px 0; width: 250px; }

.tags{ padding: 5px; }
.tags div{ 
	background:#dcf1fa; 
	padding:5px; 
	margin: 5px; 
	border:1px solid #008fc7; 
	border-radius: 5px; 
	color:#008fc7; 
	box-shadow:#ccc 1px 1px 3px; 
	display:inline-block; 
}
.tags div a{ 
	color:#008fc7; 
	font-weight: bold; 
}

.boxfilter{
    padding: 20px; 
    box-shadow:#999 5px 5px 15px;
    display:block;
    width:50%;
    margin:10px;
    border-radius:5px;
    background-color: #fff;
}

.boxfilter input[type='text'], .boxfilter select{
    border:1px #CCC solid;
    padding:5px;
    box-shadow:#ccc 1px 1px 3px;
    width:100%;
}
.boxfilter label{
    font-weight: bold;
    display: block;
    padding:5px 0;
}
.boxfilter p{
    padding:5px 0;
}

.pagination{
    padding:10px 0;
    color:#008fc7;
    text-align: center;
    font-size: 15px;
}
.pagination a{
    color:#008fc7;
    font-size: 15px;
}
.pagination strong{
    font-weight: bold;
    font-size: 15px;
}

input[type='submit'], input[type='button']{
	cursor: pointer;
}


input[type='text'], input[type='password']{
	border:1px #CCC solid;
	color:#666;
	padding:8px 5px;
  	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
  	outline: none; 
}

input[type='text']:hover, input[type='password']:hover{
	border:1px #00a4e4 solid;
}


input[type='text']:focus, input[type='password']:focus{
	border-color: #00a4e4;
  	-webkit-box-shadow: rgba(0, 164, 228, 0.1) 0px 0px 3px 3px, rgba(0, 0, 0, 0.2) 1px 2px 5px inset;
  	-moz-box-shadow: rgba(0, 164, 228, 0.1) 0px 0px 3px 3px, rgba(0, 0, 0, 0.2) 1px 2px 5px inset;
  	box-shadow: rgba(0, 164, 228, 0.1) 0px 0px 3px 3px, rgba(0, 0, 0, 0.2) 1px 2px 5px inset;
}


.steps{
	margin-bottom: 4px;
}

.round_imgList{
	-o-border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -khtml-border-radius: 25px;
    border-radius: 25px;
    border: 2px solid #fff !important;
    background: #fff;
    width: 25px;
    height: 25px;
    position: relative;
    top:-2px;
    left: -2px;
}

.round_imgDetail{
	-o-border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -khtml-border-radius: 25px;
    border-radius: 25px;
    background: #008fc7;
    color: #fff;
    width: 100px;

}

.round_imgDetail span{
	line-height: 26px;
	padding: 5px;
	left: -2px;
	position: relative;
}

.badge{
	position: relative;
	display: block;
	float: left;
	top: -35px;
	left: -8px;
	padding: 2px;
	font-size: 12px;

	-o-border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
    color: #fff;
}

.red{
	background: #ff4747;
	color: #fff;
}

.yellow{
	background: #f6bb42;
}

.orange{
	background: #e9573f;
}

.light_green{
	background: #37bc9b;
}

.blue{
	background: #008fc7;
}

.roxo{
	background: #9972b5;
}

.light_blue{
	background: #66b5d7;	
	color: #fff;
}

.cyan{
	background: #49c5bf;
	color:#fff;
}

.green{
	background: #8cc152;
	color: #fff;
}

.step{
	background: #dfe9f3;
}

a.green{
	color: #fff;
}

.stepList{
	display: inline-table;
	width: 70px;
	padding: 5px;
	min-height: 30px;
	text-align: center;
	background: #ccc;
	margin-right: 4px;
}



.list{
	width:100%;
}

.title_list{
	color:#666;
	font-size: 10px;
}

.sortable{
	margin-top: 10px;
}

.sortable li{
	padding:5px;
	padding-left: 10px;
}

.list_header{
	background: #fff;
	padding: 8px;
	border: 1px #ddd solid;
	border-top: none;
}

.list_faixa{
	margin: 8px 0;
	padding: 5px;
	display: inline;
	line-height: 30px !important
}

.list_alert{
	display: block;
	text-align: center;
	background: #49c5bf;
	color: #fff;
	margin: 5px 0;
	padding: 5px;
}

.list_item li, .dd-item{
	margin: 5px 0;
	padding: 5px;
	background: #fff; 
	overflow: auto;
	border: 1px #ddd solid;

	-o-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

.list_item li p, .list_body-list li p{
	line-height: 20px;
}

.list_colum{
	float: left;
}

.list_item li:nth-child(odd), .dd-list li{ 
	background: #f3f3f3; 
}

.list_item a{
	color: #000;
}

.list_order{
	width: 21px;
    height: 31px;
    background: url('../../image/admin/order.png') no-repeat;
    position: relative;
    top:-5px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.ui-tabs, .ui-widget, .ui-widget-content, .ui-corner-all {
	border: none;
}

.ui-tabs .ui-tabs-panel {
	padding: 0;
}

.ui-widget-header{
	background:#008fc7;
}

.select_holder{
	width: 500px;
}

.select_holder li{
	padding: 5px 0;
	border-bottom: 1px #ccc solid;	
}



.filter{
	color:#008fc7;
	display: block;
	cursor: pointer;
}

.filter ul li{
	float:left;
	position: relative;
	padding: 5px;
	margin-left: 5px;
}

.filter ul li:hover{
	background: #f3f3f3;

}

/*
.filter ul li:hover ul{
	display: block;
	margin-top: 5px;
}
*/


.filter ul li > ul{
	position: absolute;
	z-index: 10000;
	background: #ccc;
	display: none;
	left: 0;
	margin-top: 2px;
	padding: 5px;
	width: 150px;
}

.filter ul li > ul li{	
	display: block;
	float: none;
	margin: 0;

	-o-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

.filter ul li > ul li label{	
	cursor: pointer;
}

.status{
	position: relative;
	float: right;
}

.label_name{
	padding: 4px;
	color: #fff;
	background: #048b11;
}

.task_open{
	background:#ff0000;
	padding:5px;
	margin-right:5px;
	color:#FFF;
	text-align: center;
}

.task_started{
	background:#fff799;
	padding:5px;
	margin-right:5px;
	color:#000;
	text-align: center;
}

.task_finished{
	background:#bbd152;
	padding:5px;
	margin-right:5px;
	color:#000;
	text-align: center;
}



.object_stoped{
	background:#fff;
	color:#000;
}

.object_started_out{
	background:#6dbad7;
	color:#000;
}

.object_started_in{
	background:#f5f34a;
	color:#000;
}

.object_review{
	background:#f4de84;
	color:#000;
}

.object_qa,.object_consolidate{
	background:#ff9743;
	color:#000;
}

.object_waiting{
	background:#fff;
	color:#000;
}


.object_finished{
	background:#9ae266;
	color:#000;
}

.object_late, .object_late a{
	background:#ff4747;
	color:#fff;
}

.description{
	padding: 10px 0;
	display: block;
	border-bottom: 1px dotted #CCC;
}

.down_button{
	text-align: center;
	display: block;
}

.down_button img{
	border:none;
}



.table_info{
	color: #008fc7;
	background: #f3f3f3;
	border-bottom: 1px dotted #eee;
	padding: 8px;
}


.ui-widget-content{
	background: none;
	border: none;
	padding: 0;
	margin: 0;
}


.ui-dialog .ui-dialog-content {
	background: #fff;


}

.ui-dialog .ui-dialog-content, .ui-dialog-buttonpane{
	background: #fff;
}

.ui-dialog-content{
	border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.ui-dialog-buttonpane{
	margin: 0 !important;
	padding: 5px !important;	
}

.ui-widget-header .ui-state-default.ui-state-active{
	background: #fff;
	border: 1px solid #fff;
}

.ui-widget-header .ui-state-default{
	background: #f3f3f3;
}

.table_anchor{
	cursor: pointer;
}